<%- include('partials/head') %>

<main class="product">
  <% if(product) { %>
  <section>
    <h1><%= product.product_name %></h1>

    <img src="<%= product.image_url %>" alt="" />

    <p><%= product.categories %></p>
  </section>
  <% } else { %>
  <section>
    <h1>Whoops!</h1>

    <p class="error">We're sorry, but the product you entered is not available in our database.</p>
  </section>
  <% } %>
</main>

<%- include('partials/footer') %>
